.courseList{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.course-material{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.year{
    display: flex;
    gap: 20px;
    overflow: auto;
    padding-bottom: 20px;
    position: relative;
}

.year button.active{
    filter: brightness(150%);
}

.year::after{
    content: "";
    background-color: #575a57;
    width: 100%;
    height: 1px;
    bottom: 0;
    position: absolute;
}

.course-content{
    overflow: auto;
    max-height: 65vh;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-material .year button{
    background-color: #797474;
    color: white;
    width: fit-content;
}

.course-bg{
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.course-bg h2{
    font-size: 50px;
    color: #fcf8f8;
    z-index: 5;
}

.courses h3, .courses h2{
    text-transform: capitalize;
}

.courses button{
    width: fit-content;
    padding: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.courses .course-links a, .back-link{
    color: #fff;
    text-decoration: none;
    background-color: grey;
    width: fit-content;
    padding: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.course-links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.courses .back-link{
    position: fixed;
    right: 20px;
    top: 45%;
    background-color: #8a3304;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 9px;
}

.courses .course-links a:hover,
.back-link:hover, 
.doc:hover,
.video:hover
{
    filter: brightness(120%);
}

.files{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.files .doc{
    width: 130px;
    background-color: #575a57;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.file{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.file p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.doc a{
    color: #fff;
    text-decoration: none;
}

.videos{
    display: flex;
    flex-wrap: wrap;
}

.videos .video{
    width: 350px;
    background-color: #575a57;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video p{
    padding: 10px 0;
    text-transform: capitalize;
    color: #fff;
    
}

.video video{
    width: 100%;
}

@media screen and (max-width: 700px) {
    .videos .video {
        width: 90%;
        
    }

    .files{
        /* width: 100%; */
        /* justify-content: center; */
    }

    .course-bg h2{
        font-size: 40px;
    }

    .course-material{
        padding: 60px 20px 20px;
    }

    .year::after{
        content: "";
        height: 0;
        width: 0;
    }
}

button.comments{
    background: none;
    color: #fff;
    z-index: 40;
    transition: 0.3s ease;
}

button.comments:hover{
    background: #272821;
}

.rating{
    color: #c3af40;
}