.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: #fff;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .navbar h1{
        font-size: 20px;
    }
}