.theme{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* z-index: 100; */
    /* position: relative; */
}

.menu{
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
    background: none;
    cursor: pointer;
    /* width: 35px; */
}

.theme .menu i{
    font-size: 15px;
}


