.upload{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
    /* height: 100%; */
    padding-bottom: 20px;
}

.upload-home{
    position: relative;
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-home h2{
    font-size: 50px;
    color: #fcf8f8;
    z-index: 5;
}

.form{
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
    width: 45%;
}


.upload .form-group, .upload input{
    border-radius: 10px;
    /* border: none; */
    background-color: #808080;
    cursor: pointer;
}

.upload .requirement{
    color: #ff0000;
    text-align: center;
    font-weight: 500;

}

.upload .file-names{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px;
    min-width: 350px;
    width: 45%;
    border-radius: 10px;
    padding: 20px;
}

.upload li{
    padding: 0 0 20px;
}

.upload li:last-child{
    padding: 0;
}

.feedback{
    position: fixed;
    bottom: 0;
    right: -200px;
    background-color: #0e400e;
    border: none;
    transition: 0.3s ease-in-out;
    text-transform: capitalize;
    cursor: default;
}

button.activate{
    right: 0;
}

.select-course{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .upload-home h2{
        font-size: 40px;
    }

    .form{
        flex-direction: column-reverse;
    }

    .upload .file-names, .form form{
        width: 100%;
    }
} 
