*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
}

.align{
  display: flex;
  flex: 1;
  /* border: solid; */
  /* width: 100%; */
}

.routes{
  border-left: solid 1px gray;
  width: 100%;
}



.empty{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty img{
  width: 250px;
}

@media screen and (max-width: 700px) {
  .routes{
    border: none;
  }

  .navbar{
    display: none;
  }
}