*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
}

.align{
  display: flex;
  /* border: solid; */
  /* width: 100%; */
}

.routes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: solid 1px gray;
  min-height: 90vh;
}

footer{
  margin-top: 30px;
}